$<%= className %>-font-family: "<%= fontName %>" !default;
$<%= className %>-font-size-base: 24px !default;
$<%= className %>-line-height-base: 1 !default;
$<%= className %>-font-path: "<%= fontPath %>" !default;

$<%= fontName %>-map: (<% _.each(glyphs, function(glyph) { %>
  <%= glyph.name %>: "\<%= glyph.codepoint.toString(16).toUpperCase() %>",<% }); %>
);

@font-face {
  font-family: "#{$<%= className %>-font-family}";
  src: url('#{$<%= className %>-font-path}<%= fontName %>.eot');
  src: url('#{$<%= className %>-font-path}<%= fontName %>.eot?#iefix') format('eot'),
    url('#{$<%= className %>-font-path}<%= fontName %>.woff2') format('woff2'),
    url('#{$<%= className %>-font-path}<%= fontName %>.woff') format('woff'),
    url('#{$<%= className %>-font-path}<%= fontName %>.ttf') format('truetype'),
    url('#{$<%= className %>-font-path}<%= fontName %>.svg#<%= fontName %>') format('svg');
  font-weight: normal;
  font-style: normal;
  unicode-range: <%= unicodeRange %>;
}

@function <%= fontName %>-get-icon($name){
  @if map-has-key($<%= fontName %>-map, $name) {
    @return map-get($<%= fontName %>-map, $name);
  } @else {
    @error "<%= fontName %>: invalid icon name: `#{$name}`.";
  }
}

@mixin <%= fontName %>-icon() {
  display: inline-block;
  font: normal normal normal #{$<%= className %>-font-size-base}/#{$<%= className %>-line-height-base} "#{$<%= className %>-font-family}";
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin <%= fontName %>-classes() {
  .<%= className %> {
    @include <%= fontName %>-icon();
  }

  .<%= className %>--lg {
    font-size: 1.3333333333333333em;
    line-height: 0.75em;
    vertical-align: -15%;
  }
  .<%= className %>--fw {
    width: 1.2857142857142858em;
    text-align: center;
  }
  .<%= className %>--2x { font-size: 2em; }
  .<%= className %>--3x { font-size: 3em; }
  .<%= className %>--4x { font-size: 4em; }
  .<%= className %>--5x { font-size: 5em; }

  @each $iconName, $iconContent in $<%= fontName %>-map {
    .<%= className %>--#{$iconName}:before {
      content: $iconContent;
    }
  }
}
